.modal {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: white;
  outline: none;
}

.modal-header {
  background-color: #f7921e;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
}

.modal-title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  position: relative;
  display: table-cell;
}

.modal-content {
  margin-left: 10px;
  padding-bottom: 20px;
}

.modal-footer {
  background-color: #eeeeee;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
}

.main-button-container {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.main-modal-button {
  width: 170px;
}

.modal-button {
  margin: 5px !important;
  width: 70px;
}
